<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
 
 
	<display-name>BringIT - ExpBit</display-name>
    <listener>
        <listener-class>com.bringit.experiment.remote.RemoteFileListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>WebApplication</servlet-name>
        <servlet-class>
            com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
        <init-param>
            <description>BringIT - ExpBit</description>
            <param-name>application</param-name>
            <param-value>com.bringit.experiment.WebApplication</param-value>
        </init-param>      
    </servlet>
 
</web-app>